* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.clock {
    background: #000;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.time {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    padding: 8px;
    text-align: center;
    margin-bottom: 20px;
}

.hms {
    font-size: 120pt;
    font-weight: 200;
}

.ampm {
    font-size: 12pt;
    font-weight: 900;
}

.date {
    font-size: 15pt;
    font-weight: 900;
}

.scan-container {
    position: relative;
    background-color: black;
}

#employee-camera{
    margin-left: 203px;
}

.message {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 40px;
    width: 350px;
    color: white;
    background-color: rgb(73, 158, 62);
    border-radius: 5px;
    transform: translate(65%, -150%);
    z-index: 999;
}

#id-input{
    position: absolute;
    top: -100px;
    z-index: -1;
}

.container-top{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    z-index: 999;
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}